@mixin flex($justify-content: flex-start, $align-items: stretch, $wrap: nowrap, $dir :row ){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $wrap;
    flex-direction: $dir;
}