@import '../../assets/scss/vars';

html{
    font-size: 62.5%;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}

@font-face{
    font-family: "Segoe UI";
    src: url('../font/Segoe\ UI.ttf');
    font-weight: 100;
}
img{
    display: block;
    max-width: 100%;
}
body{
    font-family: "Segoe UI";
}
a:hover, a{
    color: $color-primary;
}
header{
    position: fixed;
    top: 0;
    left: calc(100%-94rem)/2;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid $color-border;
    z-index: 9;  
}
.main{
    background-color: #fafafa;
    padding-top: 5.4rem;
    min-height: 100vh;
}
.container{
    width: 94rem;
    margin: 0 auto;
}
.avatar{
    border: 1px solid $color-border;
    margin-right: 1.6rem;
}
.name{
    font-size: 1.4rem;
    font-weight: bold;
    color: $color-primary;
}

// FORM 
.wrap-form {
    background-color: #fafafa;
    width: 100%;
    height: 100vh;
}
.box{
    width: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $color-border;
    border-radius: 0.3rem;
    background-color: #ffffff;
    padding: 2rem 4rem;
    &__logo > img{
        margin: 0 auto;
    }
    .box__title{
        font-size: 1.6rem;
        font-weight: bold;
    }
    &__dir{
        text-align: center;
        font-size: 1.4rem;
    }
}
