@import '../../assets/scss/mixin';
@import '../../assets/scss/vars';


.article{
    border: 1px solid $color-border;
    border-radius: .3rem;
    background-color: #ffffff;
    margin-top: 2.5rem;
    margin-bottom: 6rem;
    &__header{
        @include flex(space-between, center);
        padding: 1.6rem;
        &__info{
            @include flex(flex-start, center)
        }
        &__more{
            font-size: 2rem;
            cursor: pointer;

        }
    }
    &__image img{
        width: 100%;
        min-height: 61rem;
        max-height: 70rem;
    }
    &__comment{
        border-top: 1px solid $color-border;
        padding: 1.6rem;
        @include flex(space-between, center);
        & > input{
            flex: 1;
            border: 0;
            outline: none;
            font-size: 1.6rem;
            color: $color-primary;
            background: #ffffff;
        }
        & > button{
            background: transparent;
            border: 0;
            outline: none;
            font-weight: bold;
            font-size: 1.6rem;
            color: #0095f6;
            cursor: pointer;
        }
        & > button:disabled{
            opacity: .4;
            cursor: auto;
        }
    }
}


