@import '../../assets/scss/mixin';
@import '../../assets/scss/vars';

.detail__post{
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 3rem 6rem;
    border: 1px solid $color-border;
    border-radius: .3rem;
    background-color: #ffffff;
    &__img img{
        height: 60rem;
        width: 100%;
    }
    .article__header,.article__interaction{
        padding: .5rem 1.6rem;
    }
}