@import '../../assets/scss/mixin';
@import '../../assets/scss/vars';

.profile__header{
    @include flex(flex-start, stretch);
    padding: 3rem 0;
    border-bottom: 1px solid $color-border;
    &__avatar{
        width: calc(100%/3);
        @include flex(center, center);
        img{
            width: 15rem;
            height: 15rem;
            border-radius: 50%;
            border: 1px solid $color-border;
        }
    }
    &__info{
        @include flex(flex-start, stretch, nowrap, column);
        flex-grow: 1;
        padding: .5rem 0;
        color: $color-primary;
    }
    &__name{
        margin-bottom: 2rem;
        font-size: 2.8rem;
        display: flex;
        align-items: center;
        & > button{
            margin-left: 1rem;
        }
    }
    &__follow{
        @include flex(flex-start, stretch);
        font-size: 1.6rem;
        & > li{
            margin-right: 4rem;
            & > span{
                font-weight: bold;
            }
        }
    }
}

.profile__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    padding: 3rem 0;
    &__post{
        position: relative;
        height: 293px;
        width: 100%;
        cursor: pointer;
        background-position: center;
        background-size: cover;
        &__wrap{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba( 0, 0, 0, .3);
            display: none;
        }
        &__info{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #ffffff;
            font-size: 1.8rem;
            font-weight: bold;
            z-index: 1;
            & > span {
                margin: 0 1.5rem;
            }
        }
        &:hover > &__wrap{
            display: block;
        }
    }
}
.btn-add{
    position: fixed;
    right: 20rem;
    bottom: 8rem;

    width: 5rem;
    height: 5rem;
    @include flex(center, center);
    border-radius: 50%;
    border: 1px solid $color-border;

    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,193,104,1) 0%, rgba(251,128,128,1) 90% );
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    transition: all .5s ease-in;
    z-index: 1;
    cursor: pointer;
    & > .add-icon{
        color:#ffffff;
        font-size: 2.5rem;
    }
    &:hover{
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,193,104,1) 0%, rgba(251,128,128,1) 70% );
    }
}