@import '../../assets/scss/mixin';
@import '../../assets/scss/vars';

.header{
    @include flex(space-between, center);
    height: 5.4rem;
    &__search{
        width: 22rem;
    }
    &__right{
        @include flex(flex-end,center);
        &__item{
            margin-left: 1.5rem;
            font-size: 2.5rem;
            color: $color-primary;
            cursor: pointer;
        }
        &--profile{
            border: 1px solid $color-border;
            border-radius: 50%;;
        }
    }
}