.loading{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fafafa;
    &__img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(2);
        width: 3.5rem;
        height: 3.5rem;
        background-image: url('../../assets/img/32f0a4f27407.png');
        background-repeat: no-repeat;
        background-position: 57% 62%;

    }
}