@import '../../assets/scss/mixin';
@import '../../assets/scss/vars';


.article__interaction{
    padding: 1.6rem;
    &__icons{
        @include flex(flex-start, center);
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
    &__icons > li{
        margin-right: 1.5rem;
        cursor: pointer;
    }
    &__icons > li:last-child{
        margin-right: 0;
    }
    &__item-right{
        margin: 0 auto;
    }
    &__content .likes-number{
        margin-bottom: 1rem;
    }
}
.comment-item{
    @include flex(flex-start, center);
    margin-bottom: .7rem;
    .name{
        margin-right: .5rem;
    }
    .caption{
        color: $color-primary;
        font-size: 1.4rem;
    }
    .comment-item:last-child{
        margin-bottom: 0;
    }
}