@import '../../assets/scss/mixin';
@import '../../assets/scss/vars';


.suggest{
    position: fixed;
    top: 5.4rem;
    right: calc(100%-94rem)/2;
    width: calc(94rem/3);
    padding-left: 3rem;
    margin-top: 2.5rem;
    &__header{
        @include flex(space-between, center);
        margin-bottom: 1rem;
        &__title{
            font-weight: bolder;
            color: $color-secondary;
            font-size: 1.4rem;
            text-transform: capitalize;
        }
        &__more{
            color: $color-primary;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
    &__item{
        @include flex(stretch, center);
        margin-bottom: .7rem;
        .name{
            flex: 1;
            display: flex;
            flex-direction: column;
            .desc{
                font-size: 1.2rem;
                color: $color-secondary;
                margin-top: 0.2rem;
            }
        }
        &__follow{
            font-size: 1.2rem;
            color: #0095f6;
            font-weight: bold;
        }
    }
}